@model ThetaOnlineStore.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product Details For ID: @Model.Id</h4>
    <hr />
    <div class="row">
        <div class="col-md-2">

            @if (string.IsNullOrEmpty(Model.Images))
            {
                <img src="~/Images/ProductImages/ph.png" alt="Alternate Text" class="img-fluid img-thumbnail smallimage" style="max-width:50px" />
            }
            else
            {
                string[] AllImages = Model.Images.Split(',');
        <div>
            @for (int i = 0; i < AllImages.Length; i++)
                            {

                                <img src="~/Images/ProductImages/@AllImages[i]" data-imagepath="/Images/ProductImages/@AllImages[i]"  class="img-fluid img-thumbnail mb-2 smallimage" style="max-width:50px" alt="Alternate Text" />
                                <br />
                            }
        </div>
            }
        </div>
        <div class="col-md-4">
            @if (string.IsNullOrEmpty(Model.Images))
            {
                <img id="LargeImage" name="LargeImage" src="~/Images/ProductImages/ph.png" alt="Alternate Text" />
            }
            else
            {
                string[] AllImages = Model.Images.Split(',');
           <img id="LargeImage" name="LargeImage"src="~/Images/ProductImages/@AllImages[0]" alt="Alternate Text" />
                                
            }
            </div>
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ShortDescription)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.LongDescription)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.LongDescription)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CurrentStock)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CurrentStock)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CostPrice)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CostPrice)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.SalePrice)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.SalePrice)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Images)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Images)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ProductCode)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ProductCode)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.OpeningStock)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.OpeningStock)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.OpeningDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.OpeningDate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ProductFeatures)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ProductFeatures)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>
            </dl>
            <div>
                <a href="/Products/Edit?id=@Model.Id" class="btn btn-danger btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i>Update</a>
                <a href="Details?id=@Model.Id" class="btn btn-success btn-sm"><i class="fas fa-eye"></i>Details</a>
                <a href="Index?id=@Model.Id" class="btn btn-danger btn-sm"><i class="fa fa-search" aria-hidden="true"></i>Back To List</a>
            </div>
        </div>
    </div>
</div>

<hr />
<h4>Other Relateted Categories and Details in card</h4>
<hr />
<div id="mydiv">
</div>
<div id="mycard">
</div>
<div id="ForAd1">
</div>


    

@section Scripts{


    <script>
        $(function () {

            $('.toast').toast('show');

            $('#MyTable').DataTable();
      
            $("#mydiv").load("/Products/Index #myTable");
            $("#mycard").load("/Products/Index #myCard");
            $('.smalllimage').click(function () {
                var imagepath = $(this).data('imagepath');

                $('#LaregImage').attr("src", imagepath);
            });
           

        });
    </script>
}   