@model IEnumerable<ThetaOnlineStore.Models.Product>

@{
    ViewData["Title"] = "Index";
}
    <div class="badge align-items-center badge-success">
        <h1 > All Products:<span class="badge badge-success" id="myproduct"></span></h1>
    </div>
<hr />
<form action="/SystemUsers/Alluser" method="post">
    <input type="text" name="SearchQuery" id="SearchQuery" value="" />
    <input type="submit" value="Search" class="btn btn-success fa fa-search" />
</form>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="toast" data-delay="10000">
        <div class="toast-header">
            <strong class="mr-auto">Alert!</strong>
            <small>1 Record</small>
            <button class="ml-2 mb-1 close" aria-label="Close" type="button" data-dismiss="toast">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body">
            Record is Succeffully Deleted
        </div>
    </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-hover table-striped table-responsive-sm" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductFeatures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            String Statusclass = "";
            if (item.Status != "active")
            {
                Statusclass = "table-danger";
            }


            <tr class="col-md-4 @Statusclass">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Images)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductFeatures)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    <a href="/Products/Details?id=@item.Id" class="btn btn-success btn-sm"><i class="fas fa-eye">Details</i></a>
                    @if (!string.IsNullOrEmpty(Context.Session.GetString("Role")) && Context.Session.GetString("Role") == "Admin" && Context.Session.GetString("Role") == "Staff")
                    
                        {
                            <a href="/Products/Edit?id=@item.Id" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i>Edit</a>}
                        @if (!string.IsNullOrEmpty(Context.Session.GetString("Role")) && Context.Session.GetString("Role") == "Admin")
                        {
                            <a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal-@item.Id"><i class="fa fa-trash" aria-hidden="true">Delete</i></a>
                        }
                            <div class="modal fade" id="myModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModal-label">Alert</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                        </div>
                                        <div class="modal-body">
                                            <p>Do You Realy Want to delete this categoty-@item.Name</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                            <a href="#" data-pid="@item.Id" type="button" class="btn btn-primary deletebutton">Yes Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
            </tr>
        }
    </tbody>
</table>
<div class="row" id="myCard">
@foreach (Product p in Model)
{
    <div class="col-md-6">
        <div class="card mb-4 border-primary">
            <div class="card-header">

                <div class="row">
                    <div class="col-md-10">
                        <h4 class="card-title">@p.Name</h4>
                    </div>
                    <div class="col-md-2">
                        <span class="badge badge-success float-right">@p.Id</span>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://lorempixel.com/500/500/" alt="Alternate Text" class="img-fluid img-thumbnail" />

                    </div>
                    <div class="col-md-8">
                        <p class="card-text">
                            @p.ShortDescription
                        </p>
                        <p class="card-text">
                            @p.LongDescription
                        </p>
                    </div>
                </div>



            </div>
            <div class="card-footer text-center">
                <a href="/Category/Detail?Id=@p.Id" class="btn btn-success btn-sm"><i class="fa fa-eye"></i> </a>
                <a href="/Category/Edit?Id=@p.Id" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i> </a>
                <a href="/Category/Delete?Id=@p.Id" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>  </a>

            </div>
        </div>
    </div>
}
</div>
@section Scripts{

    <script>
        $(function () {
            $('.toast').toast("show");
            $("#ModifiedDate").datepicker();
             $('#myproduct').load('/Products/LoadAd1');
            $('.deletebutton').click(function () {

                var dbutton = $(this);
                var ProductidToDelete = dbutton.data('pid');

                //alert(UseridToDelete);



                $.ajax({

                    beforeSend: function () {
                        dbutton.addClass('disabled');
                        dbutton.html("<i class='fa fa-trash'></i> Please Wait ...")

                    },
                    url: '/Products/Delete',
                    type: 'GET',
                    data: {
                        id: ProductidToDelete
                    },
                    success: function (datareturned) {
                        if (datareturned == '1') {
                            // alert('user successfully deleted.');

                            dbutton.parent().parent().parent().parent().parent().parent().addClass('table-danger').fadeOut(5000);

                        }
                        else {
                            //alert('Could not delete this user.');
                        }

                    },
                    error: function (errordetails) {
                        alert(errordetails);
                    },
                    complete: function () {
                        dbutton.removeClass('disabled');
                    }




                });


            });
        });
    </script>
}
