@model ThetaOnlineStore.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category Details For ID: @Model.Id</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @if (string.IsNullOrEmpty(Model.Picture))
            {
                <img src="~/Images/CategoryImages/ph.png" class="img-fluid img-thumbnail" />
            }
            else
            {
                <img src="~/Images/CategoryImages/@Model.Picture" class="img-fluid img-thumbnail" />
            }
            
        </div>


        <div class="col-md-8">

            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Picture)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Picture)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ShortDescription)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ShortDescription)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.LongDescription)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.LongDescription)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CreateDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ModifiedBy)
                </dd>
            </dl>
            <div>
                <a href="/Categories/Edit?id=@Model.Id" class="btn btn-danger btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i>Update</a>
                <a href="Details?id=@Model.Id" class="btn btn-success btn-sm"><i class="fas fa-eye"></i>Details</a>
                <a href="Index?id=@Model.Id" class="btn btn-danger btn-sm"><i class="fa fa-search" aria-hidden="true"></i>Back To List</a>
            </div>

        </div>
    </div>
</div>
